opencv-master
Recognition with deep learning/SantiagoBilder
Recognition with deep learning/IsaBilder
Recognition with deep learning/AuronBilder
Recognition with deep learning/ElonBilder
Recognition with deep learning/ElternBilder
Recognition with deep learning/*.mp4